div {
    border: 2px solid red;
}

th {
    text-align: left;
}

tbody th {
    border-bottom: 1px solid;
    padding-top: .625rem;
}

th,
tr,
tbody,
td {
    border: 1px solid green;
}

img.screenshot {
    width: 400px;
}

img.avators {
    width: 100px;
}