body {
    text-align: center;
}

div {
    border: 2px solid gray;
}

th {
    text-align: left;
}

tbody th {
    border-bottom: 1px solid;
    padding-top: .625rem;
}

th,
tr,
tbody,
td {
    text-align: center;
    border: 1px solid green;
}

img.screenshot {
    width: 400px;
}

img.avators {
    width: 100px;
}

div.header {
    margin: auto;
    width: 900px;
}

div.table_container {
    margin: auto;
    width: 1200px;
}

div#round2Q {
    margin: auto;
    width: 954px;
}

.header img {
    height: 500px;
}